<h1>注文履歴一覧</h1>

<table class="table">

<tr>
  
<th>購入日時</th>

<th>購入者</th>

<th>注文個数</th>

</tr>

<% @homes.each do |home| %>

<tr>
  
<td><%= link_to home.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分%-S秒"), admin_order_path(home.id) %></td>


<td><%= home.customer.last_name %><%= home.customer.first_name %></td>

<td><%= home.tyumon %></td>

</tr>

<% end %>

</table>


